._gender {
  margin: 0px;
  padding: 20px;
  background-color: black;
  color: aliceblue;
  text-align: center;
}
radio {
  cursor: pointer;
}
.gn {
  display: none;
  padding: 5px;
  background-color: aqua;
  letter-spacing: 2px;
}
.lbl {
  padding: 5px;
  background-color: rgb(82, 90, 85);
  letter-spacing: 2px;
}
.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 171, 211);
  border: none;
}
.btn:hover {
  color: white;
  background-color: black;
}
.btn:active {
  color: blueviolet;
  background-color: rgb(246, 255, 168);
}
.gn:active {
  color: antiquewhite;
}
